<a href="https://colab.research.google.com/github/tc11echo/data-structure-and-algorithm-in-python/blob/main/built_in_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Data Type / Data Structure and Operator
* Primitive Data Structure
  * Numeric Type: `int, float, complex`
  * Boolean Type: `bool`
  * Text Type: `str`
  * None Type: `NoneType`
  * Binary Type: `bytes, bytearray, memoryview`
* Non-Primitive Data Structure
  * Sequence Type: `list, tuple, range`
  * Set Type: `set, frozenset`
  * Mapping Typ: `dict`

# integer

In [ ]:
# integer
x=3
print(x, type(x)) # use type() function to check the data type of a variable; print "<class 'int'>"

3 <class 'int'>

# Floating Point Number

In [ ]:
# floating point number
y=0.5
print(y, type(y)) # use type() function to check the data type of a variable; print "<class 'float'>"

0.5 <class 'float'>

# Boolean

In [ ]:
# operator
print(x + 1)   # addition; print "4"
print(x - 1)   # subtraction; print "2"
print(x * 2)   # multiplication; print "6"
print(x ** 2)   # exponentiation; print "9"
print(x / 2)   # ordinary division; print "1.5". NOTE: it's unlike C++, where '/' carries out the integer division
print(x // 2)   # integer division; print "1"
print(x % 2)   # remainder of x when divided by 2; print "1"
print()

# shortcut assignment
x+=1
print(x)   # print "4"
x*=2
print(x)   # print "8"

4
2
6
9
1.5
1
1

4
8

In [ ]:
# boolean
t=True # unlike C++, the first letter of "True" is capital. That is, do not write "true"
f=False
print(t, f, type(t))  # print "<class 'bool'>"

True False <class 'bool'>

In [ ]:
# comparison and logical operator
print(t and f)  # Logical AND; print "False"
print(t or f)  # Logical OR; print "True"
print(not t)   # Logical NOT; print "False"
print(t != f)  # Logical XOR; print "True"
print(t==t)    # Logical comparison; print "True"
print(f+t+f, t+t+t+f)   # when doing arithmetic operations on booleans, they will be first converted to 1 (True) or 0 (False)
print()

# we can compare charaters like we compare numbers
# when doing character comparison, we're comparing their ASCII code
print('A'>'B') # False.
print('z'>'a') # True.
print('abc'>'abd') # False. # for string, we compare letter by letter. Since 'c'<'d', return False

False
True
False
True
True
1 3

False
True
False

# String

In [ ]:
# string
hello='hello'    # String literals can use single quotes
world="world"    # or double quotes; it does not matter
print('hello'=="hello") # print "True"
print(hello)       # print "hello"
print(len(hello))    # len() returns the len of a given object; print "5", since it has 5 letters
hw=hello+' '+world  # to do string concatenation, use '+'
print(hw)        # print "hello world"

# print(hw+2239) # IMPORTANT: when using '+', we must ensure that the two operands are of the same type. Here, the left operand is string, whereas the right operand is integer, and so this will result in error

print(hw+'2239') # we should first convert the intger to string first!
print(hw+str(2239)) # alternatively, use str() function to convert the interger to string. This is useful if it is a variable

# More about string type
s='hello'
print(s[0]) # print 'h'; much like in C++, we use [] to access individual elements of an array

# string in python is immutable (immutable means unchangeable), that is, we cannot modify the elements of a string
# s[0]='x' Error: attempt to change the elements of a string

True
hello
5
hello world
hello world2239
hello world2239
h

In [ ]:
# methods for string
# in python, string is an object, and so it has many methods for us to use (a method in python is called a member function in C++)
s="hello"
print(s.capitalize())  # Capitalize a string; print "Hello"
print(s.upper())       # Convert a string to uppercase; print "HELLO"
print('  world '.strip())  # Strip leading and trailing whitespace; print "world"
print(s.isalpha()) # check whether all the characters in s are English alphabets
print("A_X".isalpha()) # False

Hello
HELLO
world
True
False

In [ ]:
# f-string
# in print(), it may not be too convenient to use '+' all the time to concatenate several non-string pieces. Alternatively, we can use f-string as below:
favorite=100
# to use f-string, pre-append your string with the letter 'f' (which stands for format)
print(f"My favorite number is {favorite}" ) # anything enclosed by {} is considered a variable name
print("My favorite number is "+str(favorite) ) # this is the same as above, but much less convenient

My favorite number is 100
My favorite number is 100

# List

In [ ]:
# list 
# A list is the Python equivalent of an array in C++, but a python list is resizeable and can contain elements of different types. 
t=[3, 1, 2]    # Create a list. Do not use l as the name of a list, because it is often confused with 1 and I
print(t)     # print "[3, 1, 2]"
print(t[0],t[1],t[2]) # print "3 1 2". Like C++, we use [] to access individual elements of an array.
print(t[-1])     # Negative indices count from the end of the list; [-1] means the last element; print "2"

t[2]='foo'     # lists can contain elements of different types. Now t[2] contains a string type, not an int type 
print(t)         # print "[3, 1, 'foo']"

t.append('bar')  # append method adds a new element to the end of the list
print(t)         # print "[3, 1, 'foo', 'bar']"

x=t.pop()      # Remove and return the last element of the list
print(x, t)      # print "bar [3, 1, 'foo']"

t.remove(1)      # remove the element 1 from the list t 
print(t)         # print [3, 'foo']

print(t.index('foo')) # give the index of the element 'foo'

t.insert(1, 'abc') # insert 'abc' at index 1
print(t)

t[0]=10       # change t[0] to 10
print(t)        # [10, 'abc', 'foo']

del t            # delete the list t.
# print(t)       # error, since t has be deleted.

[3, 1, 2]
3 1 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']
[3, 'foo']
1
[3, 'abc', 'foo']
[10, 'abc', 'foo']

In [ ]:
# slicing
# in addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing. Note that slicing can also be used on string type. 
"""
- the three numbers `start`, `end`, `step` in [start:end:step] can each be negative!
- IMPORTANT: the last element of a sequence (i.e., list, string) is also given the index `-1`. 
"""

t=list(range(5))  # range is a built-in function that creates an iterable of integers. range(5) means that the numbers are from [0,5) (i.e., not including 5!). Notice that range(5) itself is not a list. To convert to a list, apply list() on it. 
print(t)      # print "[0, 1, 2, 3, 4]"
print(t[2:4])    # get a slice from index 2 to 4(exclusive); print "[2, 3]"
print(t[2:])    # get a slice from index 2 to the end; print "[2, 3, 4]"
print(t[:2])    # get a slice from the start to index 2(exclusive); print "[0, 1]"
print(t[1:5:2])   # it means get elements from index 1 to index 4, but after getting an element, jump 2 indices, but not 1, which is the default value. Print "[1,3]"
print(t[::3])    # print "[0, 3]"
print(t[:])     # get a slice of the whole list; print "[0, 1, 2, 3, 4]"
t[2:4]=[8,9]    # assign a new sublist to a slice
print(t)      # print "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[1, 3]
[0, 3]
[0, 1, 2, 3, 4]
[0, 1, 8, 9, 4]

In [ ]:
# more slicing example
s="0123456789"
print(s[-1:-4:-1]) # 987
print(s[:-2])    # 01234567
print(s[-3:])    # 789
print(s[-3::-1])  # 76543210
print(s[6:1:-2])  # 642
print(s[6:1:2])   # print nothing
print(s[::-1])   # same as s[-1:-len(s)-1:-1] # 9876543210
print(s[-1:-len(s)-1:-1]) # 9876543210

987
01234567
789
76543210
642

9876543210
9876543210

In [ ]:
# comparison operators
t=[1,2,3,4]
print(1 in t)    # True. check if 1 is an element of t. 
print('1' in t)   # False. since '1' is a string, not an integer.
print([1,2,3] in t) # False. although [1,2,3] is a subset of [1,2,3,4], it is not an element of [1,2,3,4]
print([1,2,3,4]==t)  # True.

True
False
False
True

In [ ]:
# assignment operator vs deep copy
t1=[1,2,3] # t1 points to the list [1,2,3]
t2=t1    # t2 also points to the same list [1,2,3]. So, now, both t1 and t2 point to the same list [1,2,3]

t2[0]=-1  # this will also affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)

# to check whether two variables point to the same object, we can check their id. If id is the same, then they are
print(id(t1))
print(id(t2))
print()


t1=[1,2,3]
t2=t1.copy() # t2 points to a different [1,2,3] than the one t1 points to
t2[0]=-1 # this will NOT affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)
print(id(t1))
print(id(t2))
print()

[-1, 2, 3] [-1, 2, 3]
139823700580864
139823700580864

[1, 2, 3] [-1, 2, 3]
139823700814256
139823700580944

# Tuple

In [ ]:
# tuple 
# tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; The most important difference between tuple and list is that tuple's elements cannot be modified after it's declared. By extension, we cannot add new elements to an existing tuple. That is, once a tuple is created, it cannot be modified in any way. In fact, recall that we've already seen another immutable type of data structure: string. Therefore, tuple and string are similar in that both are immutable. 

t=(1,2,3) # t is a tuple. We use () to represent tuples
print(t, type(t)) # (1, 2, 3) <class 'tuple'>
t=1,2,3 # in fact, the parentheses () above is optional. That is, we can define t without the ()
print(t, type(t)) # (1, 2, 3) <class 'tuple'>

singleton=(1,) # one exception where () must be used is when the tuple contains one element only. In this case, not only is the () necessary, we also need to add a ',' to indicate that it is not an integer. Without the comma, python will mistook it for an integer, because (1)==1, for example.
print(singleton, type(singleton)) # (1,) <class 'tuple'>

wrong_singleton=(1) # this is just an integer, since it lacks a comma
print(wrong_singleton, type(wrong_singleton)) # 1 <class 'int'>
# Although parentheses () is optional, including it is highly recommended. There are still other cases where () is necessary so as to avoid the issue of operator precedence.

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1,) <class 'tuple'>
1 <class 'int'>

In [ ]:
# tuple vs list
tup=(1,2)
t=[1,2]
# tup[0]=10 # error. attempt to modify the elements of a tuple
t[0]=10 # ok. we can modify the elements of a list
# tup.append(20) # error. we cannot add new elements to a tuple
t.append(20) # ok. we can also add new elements to a list
print(t) # [10, 2, 20]

# we can convert a tuple to a list and vice versa, by using their constructors (i.e., list())
list(tup) # convert a tuple to a list
tuple(t) # convert a list to a tuple

[10, 2, 20]

(10, 2, 20)

# Miscellaneous about Tuple

In [ ]:
# swapping the contents of two variables
# it's very easy in python to swap the contents of two variables
a,b=1,2
print(a,b) # 1 2

a,b=b, a # swapping the content of the two variables
print(a,b) # 2 1

1 2
2 1

In [ ]:
# create multiple variaables in one line
a,b,c,d=1,'Hello',[1,2,3],True # Create and initialize 4 variables at the same time. The syntax is different from that of C++, but we'll see why Python uses this different syntax when we learn the data structure called tuple later. 
print(a,b,c,d) # print "1 Hello [1, 2, 3] True"

1 Hello [1, 2, 3] True

In [ ]:
# when we previously initialized several variables at once, the right hand side was actually a tuple (without the parentheses "()" ), like so:
a,b,c=1,2,3 # 1,2,3 is a tuple
print(a,b,c)
a,b,c=(1,2,3) # we can of course add parenthese, and the result is the same as before.
print(a,b,c)
a,b,c=[1,2,3]  # in fact, the right hand side can also be list, and the result is the same.
print(a,b,c)
# When we initialize several variables at once by a tuple/list, what we're doing is called "UNPACK the tuple/list"

1 2 3
1 2 3
1 2 3

# Set

In [ ]:
# set
s1={3,4,5}
print(3 in s1)
print(10 in s1)
print(10 not in s1)
print()

s2={4,5,6,7}
s3=s1&s2 # intersection, print "{4, 5}"
print(s3)
s3=s1|s2 # union, print "{3, 4, 5, 6, 7}"
print(s3)
s3=s1-s2 # difference s1-s2, print "{3}"
print(s3)
s3=s1^s2 # union-Intersection, print "{3, 6, 7}"
print(s3)
print()

s=set("Hello")
print(s)
print("H" in s)
print("A" in s)

True
False
True

{4, 5}
{3, 4, 5, 6, 7}
{3}
{3, 6, 7}

{'H', 'e', 'o', 'l'}
True
False

# Dictionary

In [ ]:
# dictionary
# key-value pair
dic={"apple":"蘋果","bug":"蟲蟲"}
print(dic["apple"])
dic["apple"]="小蘋果"
print(dic["apple"])
print()

dic={"apple":"蘋果","bug":"蟲蟲"}
print("apple" in dic)
print("蘋果" in dic)
print("test" in dic)
print()

del dic["apple"] # # delete the key-value pair "apple":"蘋果"
print(dic)
dic={x:x*2 for x in [3,4,5]} # form dictionary from list
print(dic)

蘋果
小蘋果

True
False
False

{'bug': '蟲蟲'}
{3: 6, 4: 8, 5: 10}