<a href="https://colab.research.google.com/github/tc11echo/data-structure-and-algorithm-in-python/blob/main/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python
Python is a high-level, dynamically typed multiparadigm programming language. 

Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

In [110]:
# output
# In C++, we distinguish a character and a string by single quotes and double quotes, respectively. However, in Python, there is no such a distinction, that is, characters are treated as string, and you can use single quotes or double quotes for strings.
print("hello world!") # double quotes
print('hello world!') # single quotes. Same as double quotes

hello world!
hello world!

In [111]:
# input
x=input("enter a string: ") # x will be of str type, even if the user gives an integer
print("Your input string is: "+x)

enter a string: 1111111
Your input string is: 1111111

# Basic Data Type and Operator

In [112]:
# integers & floating point numbers
x=3
print(x, type(x)) # use type() function to check the data type of a variable; Prints "<class 'int'>"

y=0.5
print(y, type(y)) # use type() function to check the data type of a variable; prints "<class 'float'>"

3 <class 'int'>
0.5 <class 'float'>

In [113]:
# boolean variables
t=True # unlike C++, the first letter of "True" is capital. That is, do not write "true"
f=False
print(t, f)    # prints True False
print(type(t))   # Prints "<class 'bool'>"
print(t and f)  # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"
print(t==t)    # Logical comparison; prints "True"
print(f+t+f, t+t+t+f)   # when doing arithmetic operations on booleans, they will be first converted to 1 (True) or 0 (False)
print()

# we can compare charaters like we compare numbers
# when doing character comparison, we're comparing their ASCII code
print('A'>'B') # False.
print('z'>'a') # True.
print('abc'>'abd') # False. # for string, we compare letter by letter. Since 'c'<'d', return False

True False
<class 'bool'>
False
True
False
True
True
1 3

False
True
False

In [114]:
# operator
print(x + 1)   # addition; prints "4"
print(x - 1)   # subtraction; prints "2"
print(x * 2)   # multiplication; prints "6"
print(x ** 2)   # exponentiation; prints "9"
print(x / 2)   # ordinary division; prints "1.5". NOTE: it's unlike C++, where '/' carries out the integer division
print(x // 2)   # integer division; prints "1"
print(x % 2)   # remainder of x when divided by 2; prints "1"
print()

# shortcut assignment
x+=1
print(x)   # Prints "4"
x*=2
print(x)   # Prints "8"

4
2
6
9
1.5
1
1

4
8

# String

In [115]:
# string
hello='hello'    # String literals can use single quotes
world="world"    # or double quotes; it does not matter
print('hello'=="hello") # Prints "True"
print(hello)       # Prints "hello"
print(len(hello))    # len() returns the len of a given object; prints "5", since it has 5 letters
hw=hello+' '+world  # to do string concatenation, use '+'
print(hw)        # prints "hello world"

# print(hw+2239) # IMPORTANT: when using '+', we must ensure that the two operands are of the same type. Here, the left operand is string, whereas the right operand is integer, and so this will result in error

print(hw+'2239') # we should first convert the intger to string first!
print(hw+str(2239)) # alternatively, use str() function to convert the interger to string. This is useful if it is a variable

# More about string type
s='hello'
print(s[0]) # Prints 'h'; much like in C++, we use [] to access individual elements of an array

# string in python is immutable (immutable means unchangeable), that is, we cannot modify the elements of a string
# s[0]='x' Error: attempt to change the elements of a string

True
hello
5
hello world
hello world2239
hello world2239
h

In [116]:
# methods for string
# in python, string is an object, and so it has many methods for us to use (a method in python is called a member function in C++)
s="hello"
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"
print(s.isalpha()) # check whether all the characters in s are English alphabets
print("A_X".isalpha()) # False

Hello
HELLO
world
True
False

In [117]:
# f-string
# in print(), it may not be too convenient to use '+' all the time to concatenate several non-string pieces. Alternatively, we can use f-string as below:
favorite=100
# to use f-string, pre-append your string with the letter 'f' (which stands for format)
print(f"My favorite number is {favorite}" ) # anything enclosed by {} is considered a variable name
print("My favorite number is "+str(favorite) ) # this is the same as above, but much less convenient

My favorite number is 100
My favorite number is 100

# Flow Control

In [118]:
# if statement syntax
a,b=1,2
if b>a: 
  print("b larger than a")
elif a>b:  # do not write "else if" ! 
  print("a larger than b")
else:
  print("a=b")

b larger than a

In [119]:
# if the body of a condition contains one line only, we can put this line right after the colon, like so:
a,b=1,2
if b>a: print("b larger than a")
elif a>b: print("a larger than b")
else: print("a=b")

b larger than a

In [120]:
# short-hand `if-else`. This is like the ternary operator in C++, but the syntax is different
print("b larger than a") if b>a else print("b NOT larger than a")

# unlike the ternary operator in C++, in python we can have have multiple else cases:
print("b larger than a") if b>a else print("a larger than b") if a >b else print("a=b")

b larger than a
b larger than a

In [121]:
# for loop 
# You can loop over the elements of a list like this:
animals=['cat', 'dog', 'monkey']
for animal in animals: # the colon ":" at the end is necessary
  print(animal) # Python does not use curly braces to indicate the body of a loop. Instead, it uses indentation. Here, we use a tab for indentation, but you can use a space or several spaces instead---as long as there are is indentation that will do. But the most common choice is a tab

cat
dog
monkey

In [122]:
# nested for loops
# like other languages, we can also define nested for loops
# EX: print a multiplication table

for i in range(1,10):
  for j in range(1,10):
    print(i*j,"\t", end='')
  print()

# 1  2  3  4  5  6  7  8  9  
# 2  4  6  8  10  12  14  16  18  
# 3  6  9  12  15  18  21  24  27  
# 4  8  12  16  20  24  28  32  36  
# 5  10  15  20  25  30  35  40  45  
# 6  12  18  24  30  36  42  48  54  
# 7  14  21  28  35  42  49  56  63  
# 8  16  24  32  40  48  56  64  72  
# 9  18  27  36  45  54  63  72  81

1 	2 	3 	4 	5 	6 	7 	8 	9
2 	4 	6 	8 	10 	12 	14 	16 	18
3 	6 	9 	12 	15 	18 	21 	24 	27
4 	8 	12 	16 	20 	24 	28 	32 	36
5 	10 	15 	20 	25 	30 	35 	40 	45
6 	12 	18 	24 	30 	36 	42 	48 	54
7 	14 	21 	28 	35 	42 	49 	56 	63
8 	16 	24 	32 	40 	48 	56 	64 	72
9 	18 	27 	36 	45 	54 	63 	72 	81

In [123]:
# while loop
# the following while loop print the digits of a numbers in reverse
n=12345
while n>0:
  print(n%10) # get the last digit
  n//=10 # remove the last digit

5
4
3
2
1

# List (Array, but not exactly)

In [124]:
# list 
# A list is the Python equivalent of an array in C++, but a python list is resizeable and can contain elements of different types. 
t=[3, 1, 2]    # Create a list. Do not use l as the name of a list, because it is often confused with 1 and I
print(t)     # Prints "[3, 1, 2]"
print(t[0],t[1],t[2]) # Prints "3 1 2". Like C++, we use [] to access individual elements of an array.
print(t[-1])     # Negative indices count from the end of the list; [-1] means the last element; prints "2"

t[2]='foo'     # Lists can contain elements of different types. Now t[2] contains a string type, not an int type 
print(t)         # Prints "[3, 1, 'foo']"

t.append('bar')  # append method adds a new element to the end of the list
print(t)         # Prints "[3, 1, 'foo', 'bar']"

x=t.pop()      # Remove and return the last element of the list
print(x, t)      # Prints "bar [3, 1, 'foo']"

t.remove(1)      # remove the element 1 from the list t 
print(t)         # Prints [3, 'foo']

print(t.index('foo')) # give the index of the element 'foo'

t.insert(1, 'abc') # insert 'abc' at index 1
print(t)

t[0]=10       # change t[0] to 10
print(t)        # [10, 'abc', 'foo']

del t            # delete the list t.
# print(t)       # error, since t has be deleted.

[3, 1, 2]
3 1 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']
[3, 'foo']
1
[3, 'abc', 'foo']
[10, 'abc', 'foo']

In [125]:
# slicing: in addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing. Note that slicing can also be used on string type. 
t=list(range(5))  # range is a built-in function that creates an iterable of integers. range(5) means that the numbers are from [0,5) (i.e., not including 5!). Notice that range(5) itself is not a list. To convert to a list, apply list() on it. 
print(t)      # print "[0, 1, 2, 3, 4]"
print(t[2:4])    # get a slice from index 2 to 4(exclusive); print "[2, 3]"
print(t[2:])    # get a slice from index 2 to the end; prints "[2, 3, 4]"
print(t[:2])    # get a slice from the start to index 2(exclusive); print "[0, 1]"
print(t[1:5:2])   # it means get elements from index 1 to index 4, but after getting an element, jump 2 indices, but not 1, which is the default value. Print "[1,3]"
print(t[::3])    # print "[0, 3]"
print(t[:])     # get a slice of the whole list; print "[0, 1, 2, 3, 4]"
t[2:4]=[8,9]    # assign a new sublist to a slice
print(t)      # print "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[1, 3]
[0, 3]
[0, 1, 2, 3, 4]
[0, 1, 8, 9, 4]

In [126]:
# more about slicing
"""
- the three numbers `start`, `end`, `step` in [start:end:step] can each be negative!
- IMPORTANT: the last element of a sequence (i.e., list, string) is also given the index `-1`. 
"""

s="0123456789"
print(s[-1:-4:-1]) # 987
print(s[:-2])    # 01234567
print(s[-3:])    # 789
print(s[-3::-1])  # 76543210
print(s[6:1:-2])  # 642
print(s[6:1:2])   # print nothing
print(s[::-1])   # same as s[-1:-len(s)-1:-1] # 9876543210
print(s[-1:-len(s)-1:-1]) # 9876543210

987
01234567
789
76543210
642

9876543210
9876543210

In [127]:
# comparison operators
t=[1,2,3,4]
print(1 in t)    # True. check if 1 is an element of t. 
print('1' in t)   # False. since '1' is a string, not an integer.
print([1,2,3] in t) # False. although [1,2,3] is a subset of [1,2,3,4], it is not an element of [1,2,3,4]
print([1,2,3,4]==t)  # True.

True
False
False
True

In [128]:
# assignment operator vs deep copy
t1=[1,2,3] # t1 points to the list [1,2,3]
t2=t1    # t2 also points to the same list [1,2,3]. So, now, both t1 and t2 point to the same list [1,2,3]

t2[0]=-1  # this will also affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)

# to check whether two variables point to the same object, we can check their id. If id is the same, then they are
print(id(t1))
print(id(t2))
print()


t1=[1,2,3]
t2=t1.copy() # t2 points to a different [1,2,3] than the one t1 points to
t2[0]=-1 # this will NOT affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)
print(id(t1))
print(id(t2))
print()

[-1, 2, 3] [-1, 2, 3]
140484149130816
140484149130816

[1, 2, 3] [-1, 2, 3]
140484149381952
140484149014608

# Tuple

In [129]:
# tuple 
# tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; The most important difference between tuple and list is that tuple's elements cannot be modified after it's declared. By extension, we cannot add new elements to an existing tuple. That is, once a tuple is created, it cannot be modified in any way. In fact, recall that we've already seen another immutable type of data structure: string. Therefore, tuple and string are similar in that both are immutable. 

t=(1,2,3) # t is a tuple. We use () to represent tuples
print(t, type(t)) # (1, 2, 3) <class 'tuple'>
t=1,2,3 # in fact, the parentheses () above is optional. That is, we can define t without the ()
print(t, type(t)) # (1, 2, 3) <class 'tuple'>

singleton=(1,) # one exception where () must be used is when the tuple contains one element only. In this case, not only is the () necessary, we also need to add a ',' to indicate that it is not an integer. Without the comma, python will mistook it for an integer, because (1)==1, for example.
print(singleton, type(singleton)) # (1,) <class 'tuple'>

wrong_singleton=(1) # this is just an integer, since it lacks a comma
print(wrong_singleton, type(wrong_singleton)) # 1 <class 'int'>
# Although parentheses () is optional, including it is highly recommended. There are still other cases where () is necessary so as to avoid the issue of operator precedence.

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1,) <class 'tuple'>
1 <class 'int'>

In [130]:
# tuple vs list
tup=(1,2)
t=[1,2]
# tup[0]=10 # error. attempt to modify the elements of a tuple
t[0]=10 # ok. we can modify the elements of a list
# tup.append(20) # error. we cannot add new elements to a tuple
t.append(20) # ok. we can also add new elements to a list
print(t) # [10, 2, 20]

# we can convert a tuple to a list and vice versa, by using their constructors (i.e., list())
list(tup) # convert a tuple to a list
tuple(t) # convert a list to a tuple

[10, 2, 20]

(10, 2, 20)

In [131]:
# swapping the contents of two variables
# it's very easy in python to swap the contents of two variables
a,b=1,2
print(a,b) # 1 2

a,b=b, a # swapping the content of the two variables
print(a,b) # 2 1

1 2
2 1

In [132]:
# create multiple variaables in one line
a,b,c,d=1,'Hello',[1,2,3],True # Create and initialize 4 variables at the same time. The syntax is different from that of C++, but we'll see why Python uses this different syntax when we learn the data structure called tuple later. 
print(a,b,c,d) # Prints "1 Hello [1, 2, 3] True"

1 Hello [1, 2, 3] True

In [133]:
# when we previously initialized several variables at once, the right hand side was actually a tuple (without the parentheses "()" ), like so:
a,b,c=1,2,3 # 1,2,3 is a tuple
print(a,b,c)
a,b,c=(1,2,3) # we can of course add parenthese, and the result is the same as before.
print(a,b,c)
a,b,c=[1,2,3]  # in fact, the right hand side can also be list, and the result is the same.
print(a,b,c)
# When we initialize several variables at once by a tuple/list, what we're doing is called "UNPACK the tuple/list"

1 2 3
1 2 3
1 2 3

# Set

In [134]:
# set
s1={3,4,5}
print(3 in s1)
print(10 in s1)
print(10 not in s1)
print()

s2={4,5,6,7}
s3=s1&s2 # intersection, print "{4, 5}"
print(s3)
s3=s1|s2 # union, print "{3, 4, 5, 6, 7}"
print(s3)
s3=s1-s2 # difference s1-s2, print "{3}"
print(s3)
s3=s1^s2 # union-Intersection, print "{3, 6, 7}"
print(s3)
print()

s=set("Hello")
print(s)
print("H" in s)
print("A" in s)

True
False
True

{4, 5}
{3, 4, 5, 6, 7}
{3}
{3, 6, 7}

{'l', 'H', 'o', 'e'}
True
False

In [135]:
# dictionary: key-value pair
dic={"apple":"蘋果","bug":"蟲蟲"}
print(dic["apple"])
dic["apple"]="小蘋果"
print(dic["apple"])
print()

dic={"apple":"蘋果","bug":"蟲蟲"}
print("apple" in dic)
print("蘋果" in dic)
print("test" in dic)
print()

del dic["apple"] # # delete the key-value pair "apple":"蘋果"
print(dic)
dic={x:x*2 for x in [3,4,5]} # form dictionary from list
print(dic)

蘋果
小蘋果

True
False
False

{'bug': '蟲蟲'}
{3: 6, 4: 8, 5: 10}

# Function

In [136]:
# function in python
# python functions are defined using the def keyword. For example:

def func(x):
  if x>0:
    return 'positive'
  elif x<0:
    return 'negative'
  else:
    return 'zero'

for x in [-1, 0, 1]:
  print(func(x))

negative
zero
positive

In [137]:
# in python, the function body must not be empty. To get around this, use 'pass' keyword, like so:
def function_to_be_implement():
  pass  # without this, there will be error.

In [138]:
# if a function needs to returns several values, we can allow it to return a tuple instead:
def square_cube(x):
  return x**2, x**3 # return a tuple of two numbers
  # return (x**2, x**3) # we can also add a pair of parentheses, but it's optional

print(square_cube(10)) # print a tuple, since the function returns a tuple

(100, 1000)

In [139]:
# default parameters
# We will often define functions to take optional arguments, like so:
def hello(name, loud=False): # the parameter loud defaults to False. That is, if the user doesn't provide this parameter, then the value will be False
  if loud: # if loud is True
    print(f'HELLO, {name.upper()}!') # upper() method changes all lower-case letters to upper-case
  else: # if loud is False
    print(f'Hello, {name}')

hello('Alice') # Prints "Hello, Alice"
hello('Bob', loud=True)  # Prints "HELLO, BOB!"

Hello, Alice
HELLO, BOB!

In [140]:
def func(*ns):
  print(ns)
func(3,4)

def avg(*ns):
  sum=0
  for x in ns:
    sum+=x
    print(sum/len(ns))  
avg(3,4)
#avg(3,4,10,55)

(3, 4)
1.5
3.5

In [141]:
def func(x:int): # ":" in "<variable>:<data type>" limited the parameter data type"
  print(x)
func(4)

4

In [142]:
# aggregate functions: sum, max, and min
# in fact, we'll learn more powerful aggregate functions when we talk about Numpy, a data science package in python. So, we'll just briefly talk about sum, max and min that are python's built-in.

t=[1,2,3,4,5]
print(sum(t)) # 15. sum takes an iterable as input. So, do not give several numbers as input! We need to put these numbers in a list!
# print(sum(1,2,3)) # error! We need to put the numbers in a list. Here, we are giving three inputs, rather than a single input of list type!
print(max(t)) # 5
print(min(t)) # 1

15
5
1

In [143]:
# recursion
# n!=1*2 * .... * n

def factorial (x:int, level:int):
  if x == 1:
    print("  " * level+" base case x="+str(x))
    return 1 # base case
  else:
    print("  " * level+" at level :"+str(level)+" x="+str(x))
    f=factorial(x-1, level+1)
    print("  " * level+" at level :"+str(level)+" f="+str(f))
    r=x * f
    print("  " * level+" at level : "+str(level)+" before return :"+str(r))
    return r # iteration

r=factorial(5, 0)
print(f"what is r: {r}")

 at level :0 x=5
   at level :1 x=4
     at level :2 x=3
       at level :3 x=2
         base case x=1
       at level :3 f=1
       at level : 3 before return :2
     at level :2 f=2
     at level : 2 before return :6
   at level :1 f=6
   at level : 1 before return :24
 at level :0 f=24
 at level : 0 before return :120
what is r: 120

# OOP in python
unlike C++, python doesn't have access specifier (i.e., no `private`, `public` keywords), but u can follow the naming rule below to have better identification:
* vari --> public
* _vari --> protected
* __vari --> private
* func --> public
* _func --> private
* \_\_func__ --> only can be use, never create

In [144]:
class Dog:
  new_const=100
  def __init__(self, name, age):
    # name and age are instance attributes
    self.name=name
    self.age=age

  # instance method
  def description(self):
    return f"{self.name} is {self.age} years old"

  # instance method
  def eat(self, food):
    return f"{self.name} eats {food}"

d1=Dog('bob', 4) 
print(d1.new_const)
print(d1.description())
print(d1.eat("meat"))

100
bob is 4 years old
bob eats meat

In [145]:
# operator overloading
class Student:
  def __init__(self, name, age, mark):
    self.name=name
    self.age=age
    self.dsa_score=mark

  def __eq__(self, other): #==
    print(f"Inside __eq__: {other}")
    if isinstance(other, Student):
      return self.dsa_score == other.dsa_score
    raise Exception(f"{type(other)} not match !")

  def __lt__(self, other): #<
    if isinstance(other, Student):
      print("this is same instance .... ")
      return self.dsa_score<other.dsa_score
    raise Exception(f"{type(other)} not match !")

  def __le__(self, other): #<=
    return self.dsa_score <= other.dsa_score

  def __gt__(self, other): #>
    pass

  def __ge__(self, other): #>=
    pass

  def __ne__(self, other): #!=
    pass
    
s1=Student("Francis", 20, 40)
s2=Student("Sylvia", 30, 50)
print(f"s1==s2 ?: {s1 == s2}")

Inside __eq__: <__main__.Student object at 0x7fc503c9a790>
s1==s2 ?: False

In [146]:
# some question on extracting data in Python
class A:
  def __init__(self, d, n):
    self.next=n
    self.data=d

B=[]
B.append(A("Hello", A("Francis", None)))
B.append(A("Loewe", None))

print(f"what is B[0]: {B[0]}")
print(f"What is type of B[0]: {type(B[0])}")
print(f"read 0th data of list B: {B[0].data}")
print(f"read next data at 0th data of list B: {B[0].next.data}")
print(f"read B[1]: {B[1]} type is: {type(B[1])}")
print(f"read another data: {B[1].data}")

what is B[0]: <__main__.A object at 0x7fc503cf3710>
What is type of B[0]: <class '__main__.A'>
read 0th data of list B: Hello
read next data at 0th data of list B: Francis
read B[1]: <__main__.A object at 0x7fc503cf3750> type is: <class '__main__.A'>
read another data: Loewe

# Import

In [147]:
# random module
import random
# random choice
data=random.choice([1,5,6,10,20])
print(data)
data=random.sample([1,5,6,10,20],3)
print(data)
# random swap(洗牌)
data=[10,20,30,40]
random.shuffle(data)
print(data)

# random number
data=random.random() # random number between 0-1 
print(data)
data=random.uniform(30,60) # random number between 30-60
print(data)

# random number with stdev
data=random.normalvariate(100,10)
# mean=100，stdev=10 得到資料大多數在90-100間
print(data)

#statistics module 
import statistics as stat
data=stat.mean([1,3,5,7])#mean
print(data)
data=stat.median([1,30,5,7,9])#median
print(data)
data=stat.stdev([1,30,5,7,9])#stdev
print(data)

6
[6, 20, 10]
[40, 10, 20, 30]
0.9614969451954178
30.950076736571564
96.68475864150717
4
7
11.349008767288888

# Error Handling

In [148]:
try:
  print(3/0)
except NameError:
  print ('Name Error Detected')
except KeyError:
  print ('Key Error Detected')
except ValueError:
  print('Value Error Detected' )
except IndexError:
  print ('Index Error Detected')
except ZeroDivisionError:
  print ('Zero Division Error Detected')
except Exception:
  print('Other Error')

Zero Division Error Detected