<a href="https://colab.research.google.com/github/tc11echo/data-structure-and-algorithm-in-python/blob/main/python_built_in_data_structure_and_operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Built-in Data Type / Data Structure and Operator
* Primitive Data Structure
  * Numeric Type: `int, float, complex`
  * Boolean Type: `bool`
  * Text Type: `str`
  * Binary Type: `bytes, bytearray, memoryview`
  * None Type: `NoneType`
* Non-Primitive Data Structure
  * Sequence Type: `list, tuple, range`
  * Set Type: `set, frozenset`
  * Mapping Typ: `dict`

`type()` can be use for checking the data type of built-in data type in python

# integer

In [192]:
# integer
x=3
print(x, type(x)) # use type() function to check the data type of a variable; print "<class "int">"

3 <class 'int'>

# Floating Point Number

In [193]:
# floating point number
y=0.5
print(y, type(y)) # use type() function to check the data type of a variable; print "<class "float">"

0.5 <class 'float'>

# Boolean

In [194]:
# boolean
# unlike C++, the first letter of "True" is capital. That is, do not write "true"
t=True
f=False
print(t, f, type(t))  # print "<class "bool">"
# when doing arithmetic operations on booleans, they will be first converted to 1 (True) or 0 (False)
print(f+t+f, t+t+t+f)

True False <class 'bool'>
1 3

# Operator

In [195]:
# arithmetic operator
x=3
y=2

print( -x )      # negation; print "-3"
print( x + y )   # addition; print "5"
print( x - y )   # subtraction; print "1"
print( x * y )   # multiplication; print "6"
print( x ** y )   # exponentiation; print "9"
print( x / y )   # ordinary division; print "1.5". NOTE:unlike C++, where "/" carries out the integer division
print( x // y )   # integer division(floor division); print "1"
print( x % y )   # modulo; print "1"
print( abs(x) )    # absolute value; print "3"
print( x ** (1/2) ) # square root; print "1.7320508075688772"
import math
print( math.sqrt(x) ) # square root; print "1.7320508075688772"


# shortcut assignment (two for example)
x+=y   # x=x+y
print(x) # print "5"
x*=y
print(x) # print "10"

-3
5
1
6
9
1.5
1
1
3
1.7320508075688772
1.7320508075688772
5
10

In [196]:
# bitwise operator
x=3 # binary value: 11
y=2 # binary value: 10

print( ~x )      # bitwise NOT; print "-4" binary value: 00
print( x & y )    # bitwise AND; print "2" binary value: 10
print( x | y )    # bitwise OR; print "3" binary value: 11
print( x ^ y )    # bitwise XOR (exclusive OR); print "1" binary value: 01
print( x << 1 )   # bitwise left shift; print "6" binary value: 110
print( x >> 1 )   # bitwise right shift; print "1" binary value: 1

# shortcut assignment (one for example)
x&=y   # x=x&y
print(x) # print "2"

-4
2
3
1
6
1
2

In [197]:
# logical operator
t=True
f=False

print( not t )     # logical NOT (!); print "False"
print( t and f )    # logical AND (&&); print "False"
print( t or f )    # logical OR (||); print "True"
print( t != f )    # logical XOR (exclusive OR); print "True"
print( t==t )      # logical comparison; print "True"

False
False
True
True
True

In [198]:
# we can compare charaters like we compare numbers
# when doing character comparison, we"re comparing their ASCII code
print("A">"B")   # False.
print("z">"a")   # True.
print("abc">"abd") # False. # for string, we compare letter by letter. Since "c"<"d", return False

False
True
False

In [199]:
# comparison operators
list1=[1,2,3,4]
print(1 in list1)    # True. check if 1 is an element of t. 
print("1" in list1)   # False. since "1" is a string, not an integer.
print([1,2,3] in list1) # False. although [1,2,3] is a subset of [1,2,3,4], it is not an element of [1,2,3,4]
print([1,2,3,4]==list1)  # True

str1="hello"
print("h" in str1) # True

True
False
False
True
True

# String
* String literal defined by `'...'` or `"..."`
* String is **immutable**(immutable means unchangeable) ordered aka. read only
* `str()` can change other data type to string

In [200]:
# string
str1='hello'    # string literals can use single quotes
str2="world"    # or double quotes; it does not matter
print(str1)    # print "hello"

print(len(str1))  # len() returns the len of a given object; print "5", since it has 5 letters

print(str1[1])   # print "e"; use [] to access individual elements
print(str1[1:4])  # print "ell"

#str1[0]="x" Error

# when using "+" to concatenate two strings, we must ensure that the two operands are of the same type.
# otherwise Error will occur

str3=str1+" "+str2 # to do string concatenation, use "+"
print(str3)     # print "hello world"

print(str3+"2239")  # we should first convert the intger to string first!
print(str3+str(2239)) # alternatively, use str() function to convert the interger to string. This is useful if it is a variable

del str3 # delete string

hello
5
e
ell
hello world
hello world2239
hello world2239

In [201]:
# methods for string
# in python, string is an object, and so it has many methods for us to use (a method in python is called a member function in C++)
str1="hello"
print( str1.count("l") )     # Count number of "l"; print "2"
print( str1.capitalize() )    # Capitalize a string; print "Hello"
print( str1.upper() )       # Convert a string to uppercase; print "HELLO"
print( str1.isalpha() )      # check whether all the characters in s are English alphabets
print( "A_X".isalpha() )    # print "False"
print( "  world hi  ".strip() ) # Strip leading and trailing whitespace; print "world"

# all mutable action will lead to Error as string is immutable
#str1.append("a")
#str1.extend(str2)
#str1.insert(2,"a")
#str1.remove("l")
#str1.pop(2)
#str1.sort()
#str1.reverse()

2
Hello
HELLO
True
False
world hi

In [202]:
# raw string (r-string)
print( "\nraw test" )
print( r"\nraw test" )

raw test
\nraw test

In [203]:
# formatted string (f-string)
# in print(), it may not be too convenient to use "+" all the time to concatenate several non-string pieces. Alternatively, we can use f-string as below:
number=100
print( "number is "+str(number) )
print( f"number is {number}" )  # anything enclosed by {} is considered a variable name

number is 100
number is 100

# List
* List defined by `[]` and seperate each elements with `,`
* List is an **mutable** ordered list of elements
* `list()` can change other data type to list
* List is the Python equivalent of an array in C++, but a python list is resizeable and can contain elements of different types

In [204]:
# list
list1=[3,1,2]
list2=[4,5]
print(list1)       # print "[3, 1, 2]"
print(list1[0],list1[1],list1[2]) # print "3 1 2", use [] to access individual element
print(list1[-1])     # negative indices count from the end of the list; [-1] means the last element; print "2"

list1[2]="foo"      # lists can contain elements of different types
print(list1)       # print "[3, 1, "foo"]"

list3=list1+list2
print(list3)

del list1        # delete list1

[3, 1, 2]
3 1 2
2
[3, 1, 'foo']
[3, 1, 'foo', 4, 5]

In [205]:
# methods for list
list1=[5,5,4,3,2,1]

print(list1.index(2)) # print "4"

print(list1.count(5)) # print "2"

list1.append(7)  # add a new element to the end of the list
print(list1) # print "[5, 5, 4, 3, 2, 1, 7]"

list1.insert(5, 48)
print(list1) # print "[5, 5, 4, 3, 2, 48, 1, 7]"

x=list1.pop() # remove the last element of the list
print(x, list1) # print "7 [5, 5, 4, 3, 2, 48, 1]"

list1.remove(5)
print(list1) # print "[5, 4, 3, 2, 48, 1]"

list2=[5355,233,48]
list1.extend(list2)
print(list1) # print "[5, 4, 3, 2, 48, 1, 5355, 233, 48]"

list1.reverse()
print(list1) # print "[48, 233, 5355, 1, 48, 2, 3, 4, 5]"

list1.sort() # mixed list can"t be sort
print(list1) # print "[1, 2, 3, 4, 5, 48, 48, 233, 5355]"

list1.clear()
print(list1)

4
2
[5, 5, 4, 3, 2, 1, 7]
[5, 5, 4, 3, 2, 48, 1, 7]
7 [5, 5, 4, 3, 2, 48, 1]
[5, 4, 3, 2, 48, 1]
[5, 4, 3, 2, 48, 1, 5355, 233, 48]
[48, 233, 5355, 1, 48, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 48, 48, 233, 5355]
[]

In [206]:
# slicing
# in addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing. Note that slicing can also be used on string type. 
"""
- the three numbers `start`, `end`, `step` in [start:end:step] can each be negative!
- IMPORTANT: the last element of a sequence (i.e., list, string) is also given the index `-1`. 
"""

t=list(range(5))  # range is a built-in function that creates an iterable of integers. range(5) means that the numbers are from [0,5) (i.e., not including 5!). Notice that range(5) itself is not a list. To convert to a list, apply list() on it. 
print(t)      # print "[0, 1, 2, 3, 4]"
print(t[2:4])    # get a slice from index 2 to 4(exclusive); print "[2, 3]"
print(t[2:])    # get a slice from index 2 to the end; print "[2, 3, 4]"
print(t[:2])    # get a slice from the start to index 2(exclusive); print "[0, 1]"
print(t[1:5:2])   # it means get elements from index 1 to index 4, but after getting an element, jump 2 indices, but not 1, which is the default value. Print "[1,3]"
print(t[::3])    # print "[0, 3]"
print(t[:])     # get a slice of the whole list; print "[0, 1, 2, 3, 4]"
t[2:4]=[8,9]    # assign a new sublist to a slice
print(t)      # print "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[1, 3]
[0, 3]
[0, 1, 2, 3, 4]
[0, 1, 8, 9, 4]

In [207]:
# more slicing example
s="0123456789"
print(s[-1:-4:-1]) # 987
print(s[:-2])    # 01234567
print(s[-3:])    # 789
print(s[-3::-1])  # 76543210
print(s[6:1:-2])  # 642
print(s[6:1:2])   # print nothing
print(s[::-1])   # same as s[-1:-len(s)-1:-1] # 9876543210
print(s[-1:-len(s)-1:-1]) # 9876543210

987
01234567
789
76543210
642

9876543210
9876543210

# Tuple

* Tuple defined by `()` and seperate each elements with `,`
* Tuple is an **immutable** ordered list of elements
* `tuple()` can change other data type to tuplue
* Tuple is in many ways similar to a list, The most important difference between tuple and list is that tuple"s elements cannot be modified after it"s declared

In [208]:
# tuple
tuple1=(1,2,3)
print(tuple1, type(tuple1)) # (1, 2, 3) <class "tuple">
tuple2=1,2,3 # parentheses () is optional
print(tuple2, type(tuple2)) # (1, 2, 3) <class "tuple">
# although parentheses () is optional, including it is highly recommended.
# there are still other cases where () is necessary so as to avoid the issue of operator precedence.


singleton=(1,) # one exception where () must be used is when the tuple contains one element only. In this case, not only is the () necessary, we also need to add a "," to indicate that it is not an integer. Without the comma, python will mistook it for an integer, because (1)==1, for example.
print(singleton, type(singleton)) # (1,) <class "tuple">

wrong_singleton=(1) # this is just an integer, since it lacks a comma
print(wrong_singleton, type(wrong_singleton)) # 1 <class "int">

print(tuple1[1],tuple1[-1]) # print"2 3"
#tuple1[1]=5 Error

del tuple2 # delete tuple

(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
(1,) <class 'tuple'>
1 <class 'int'>
2 3

In [209]:
# methods for tuple
tuple1=(1,8,9,9,9,4)

print( tuple1.count(9) ) # find the number of occurrence of 9 in the tuple

# all mutable action will lead to Error as tuple is immutable

3

# Miscellaneous about Tuple

In [210]:
# swapping the contents of two variables
# it"s very easy in python to swap the contents of two variables
a,b=1,2
print(a,b) # 1 2

a,b=b,a # swapping the content of the two variables
print(a,b) # 2 1

1 2
2 1

In [211]:
# create multiple variaables in one line (i.e. UNPACK the tuple/list)

# no parentheses (tuple)
a,b,c,d=1,"Hello",[1,2,3],True
print(a,b,c,d) # print "1 Hello [1, 2, 3] True"

# tuple
a,b,c,d=(1,"Hello",[1,2,3],True)
print(a,b,c,d)

# list
a,b,c,d=[1,"Hello",[1,2,3],True]
print(a,b,c,d)

1 Hello [1, 2, 3] True
1 Hello [1, 2, 3] True
1 Hello [1, 2, 3] True

# Set
* Set defined by `{}` and seperate each elements with `,`
* Set is an **mutable** unordered set of elements
* `set()` can change other data type to set

In [212]:
# set
set1={3,4,5,5}
print(set1)

set2=set("Hello")
print(set2)
print("H" in set2)
print("A" in set2)

set2.add("k")
print(set2)

set2.remove("o")
print(set2)

del set2 # delete set2
set1.clear()

{3, 4, 5}
{'l', 'o', 'H', 'e'}
True
False
{'k', 'o', 'H', 'e', 'l'}
{'k', 'H', 'e', 'l'}

# Frozen Set
* Frozen set is an **immutable** unordered set of elements
* `frozenset()` can change other data type to frozen set

In [213]:
# frozen set
frozenset1=frozenset("ayfmjdfjjhh")
print(frozenset1)

# all mutable action will lead to Error as frozen set is immutable
#set2.add("j")
#set2.remove("h")

frozenset({'j', 'm', 'a', 'f', 'd', 'y', 'h'})

In [214]:
# operators of set
set1={1,2,3,4,5}
set2={4,5,6,7,8}
set3={1,2}

# union (OR)
set4=set1.union(set2)
set4=set1 | set2
print(set4)  # print"{1, 2, 3, 4, 5, 6, 7, 8}"

# intersection (AND)
set4=set1.intersection(set2)
set4=set1 & set2
print(set4)   # print"{4, 5}"

# difference
set4=set1.difference(set2)
set4=set1 - set2
print(set4)   # print"{1, 2, 3}"

# symmetric difference (XOR)
set4=set1.symmetric_difference(set2)
set4=set1 ^ set2
print(set4)   # print"{1, 2, 3, 6, 7, 8}"

# superset check
x=set1.issuperset(set3)
x=set1 >= set3
print(x)   # print"True"

# subset check
x=set1.issubset(set3)
x=set1 <= set3
print(x)   # print"False"

# disjoint check
x=set1.isdisjoint(set2)
x=set1.isdisjoint(set2)
print(x)   # print"False"

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
True
False
False

# Dictionary
* key-value pairs
* Dictionary defined by `{}`, seperate each key-value pairs with `,` and seperate every key and value with `:`
* `dict()` can change other data type to dictionary

In [215]:
# create a dictionary
dict1={"a":1,"a":1,"b":2,"c":3,"d":4}
print(dict1)

dict1=dict(a=1, b=2, c=3, d=4)
print(dict1)

dict1={k:v for k,v in [("a", 1),("b",2),("c",3),("d",4)]}
print(dict1)

# deleting items in dictionary
del dict1["a"] # remove specific element in a dictionary
print(dict1)

del dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

In [216]:
# methods for dictionary

dict1={"a":1,"b":2,"c":3,"d":4}

print(dict1.keys())
print(dict1.values())

# inserting/updating a single value
dict1["a"]=2 # updates if "a" exists, else adds "a"
dict1.update({"a":2})
dict1.update(dict(a=2))
dict1.update(a=2)
print(dict1)

# inserting/updating multiple values
dict1.update({"c":13,"e":14,"f":15}) # updates "c" and "d"
print(dict1)

# creating a merged dictionary without modifying originals
dict2={"g":6}
dict3={}
dict3.update(dict1) # Modifies data3, not data
dict3.update(dict2) # Modifies data3, not data2
print(dict3)

dict3.pop("b") # remove the key & returns the value
print(dict3)

dict3.clear()
print(dict3)

dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])
{'a': 2, 'b': 2, 'c': 3, 'd': 4}
{'a': 2, 'b': 2, 'c': 13, 'd': 4, 'e': 14, 'f': 15}
{'a': 2, 'b': 2, 'c': 13, 'd': 4, 'e': 14, 'f': 15, 'g': 6}
{'a': 2, 'c': 13, 'd': 4, 'e': 14, 'f': 15, 'g': 6}
{}