<a href="https://colab.research.google.com/github/tc11echo/data-structure-and-algorithm-in-python/blob/main/basic_concept/intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python
Python is a high-level, dynamically typed multiparadigm programming language. 

Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable.

In [176]:
# output
# In C++, we distinguish a character and a string by single quotes and double quotes, respectively. However, in Python, there is no such a distinction, that is, characters are treated as string, and you can use single quotes or double quotes for strings.
print("hello world!") # double quotes
print("hello world!") # single quotes. Same as double quotes

hello world!
hello world!

In [177]:
# input
x=input("enter a string: ") # x will be of str type, even if the user gives an integer
print("Your input string is: "+x)

enter a string: 11111111111
Your input string is: 11111111111

# [Basic Data Type / Data Structure and Operator](../data_structure/python_built_in_data_structure_and_operator.ipynb)
* Refer to python_built_in_data_structure_and_operator.ipynb

In [178]:
# assignment operator vs deep copy
t1=[1,2,3]  # t1 points to the list [1,2,3]
t2=t1    # t2 also points to the same list [1,2,3]. So, now, both t1 and t2 point to the same list [1,2,3]
t2[0]=-1   # this will also affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)

# to check whether two variables point to the same object, we can check their id
print(id(t1))
print(id(t2))
print()


t1=[1,2,3]
t2=t1.copy() # t2 points to a different [1,2,3] than the one t1 points to
t2[0]=-1   # this will NOT affect t1, since both t1 and t2 point to the same [1,2,3]
print(t1, t2)
print(id(t1))
print(id(t2))

[-1, 2, 3] [-1, 2, 3]
139956577410416
139956577410416

[1, 2, 3] [-1, 2, 3]
139956577823712
139956577836800

# Flow Control

In [179]:
# if statement syntax
"""
if expression_1:
  statement_1
elif expression_2:
  statement_2
else expression_3:
  statement_3
"""

a,b=1,2
if b>a: 
  print("b larger than a")
elif a>b:  # do not write "else if" ! 
  print("a larger than b")
else:
  print("a=b")

b larger than a

In [180]:
# if the body of a condition contains one line only, we can put this line right after the colon, like so:
"""
if expression_1: statement_1
elif expression_2: statement_2
else expression_3: statement_3
"""

a,b=1,2
if b>a: print("b larger than a")
elif a>b: print("a larger than b")
else: print("a=b")

b larger than a

In [181]:
# short-hand `if-else`. This is like the ternary operator in C++, but the syntax is different
"""
statement_1 if expression_1 else statement_2 if expression_2 else statement_3
"""

print("b larger than a") if b>a else print("b NOT larger than a")

# unlike the ternary operator in C++, in python we can have have multiple else cases:
print("b larger than a") if b>a else print("a larger than b") if a >b else print("a=b")

b larger than a
b larger than a

In [182]:
# for loop
"""
for iteration_variable in list:
  statement_1
"""

# You can loop over the elements of a list like this:
animals=["cat", "dog", "monkey"]
for animal in animals: # the colon ":" at the end is necessary
  print(animal) # Python does not use curly braces to indicate the body of a loop. Instead, it uses indentation. Here, we use a tab for indentation, but you can use a space or several spaces instead---as long as there are is indentation that will do. But the most common choice is a tab

cat
dog
monkey

In [183]:
# nested for loops
# like other languages, we can also define nested for loops
# EX: print a multiplication table

for i in range(1,10):
  for j in range(1,10):
    print(i*j,"\t", end="")
  print()

# 1  2  3  4  5  6  7  8  9  
# 2  4  6  8  10  12  14  16  18  
# 3  6  9  12  15  18  21  24  27  
# 4  8  12  16  20  24  28  32  36  
# 5  10  15  20  25  30  35  40  45  
# 6  12  18  24  30  36  42  48  54  
# 7  14  21  28  35  42  49  56  63  
# 8  16  24  32  40  48  56  64  72  
# 9  18  27  36  45  54  63  72  81

1 	2 	3 	4 	5 	6 	7 	8 	9
2 	4 	6 	8 	10 	12 	14 	16 	18
3 	6 	9 	12 	15 	18 	21 	24 	27
4 	8 	12 	16 	20 	24 	28 	32 	36
5 	10 	15 	20 	25 	30 	35 	40 	45
6 	12 	18 	24 	30 	36 	42 	48 	54
7 	14 	21 	28 	35 	42 	49 	56 	63
8 	16 	24 	32 	40 	48 	56 	64 	72
9 	18 	27 	36 	45 	54 	63 	72 	81

In [184]:
# while loop
"""
while expression_1:
  statement_1
"""

# the following while loop print the digits of a numbers in reverse
n=12345
while n>0:
  print(n%10) # get the last digit
  n//=10 # remove the last digit

5
4
3
2
1

# Function

In [185]:
# function in python
"""
def function_name_0(parameter_1, parameter_2:data_type, parameter_3=default_value):
  statement_0
  return expression_0

function_name_1(argument_1,parameter_2)


def function_name_1(parameter_1):
  statement_1
  return expression_1


def function_name_2(parameter_2:data_type):
  statement_2
  return expression_2


def function_name_3(parameter_3=default_value):
  statement_3
  return expression_3

def function_to_be_implement():  # in python, the function body must not be empty. To get around this, use "pass" keyword
  pass               # without this, there will be error
"""

# python functions are defined using the def keyword
def func(x):
  if x>0:
    return "positive"
  elif x<0:
    return "negative"
  else:
    return "zero"

for x in [-1, 0, 1]:
  print(func(x))


# ":" in "<variable>:<data type>" limited the parameter data type"
def func(x:int):
  print(x)

func(4)

negative
zero
positive
4

In [186]:
# if a function needs to returns several values, we can allow it to return a tuple instead:
def square_cube(x):
  return x**2, x**3 # return a tuple of two numbers
  # return (x**2, x**3) # we can also add a pair of parentheses, but it"s optional

print(square_cube(10)) # print a tuple, since the function returns a tuple

(100, 1000)

In [187]:
# default parameters
# We will often define functions to take optional arguments, like so:
def hello(name, loud=False): # the parameter loud defaults to False. That is, if the user doesn"t provide this parameter, then the value will be False
  if loud: # if loud is True
    print(f"HELLO, {name.upper()}!") # upper() method changes all lower-case letters to upper-case
  else: # if loud is False
    print(f"Hello, {name}")

hello("Alice") # Prints "Hello, Alice"
hello("Bob", loud=True)  # Prints "HELLO, BOB!"

Hello, Alice
HELLO, BOB!

In [188]:
"""
def function_name(*infinite_parameter):   # all arguments will cobine into a tuple and store in infinite_parameter
  statement
  return expression

function_name_1(argument_1,argument_2,argument_3)
"""

def func(*ns):
  print(ns)
func(3,4)

def avg(*ns):
  sum=0
  for x in ns:
    sum+=x
    print(sum/len(ns))  
avg(3,4)
#avg(3,4,10,55)

(3, 4)
1.5
3.5

# Recursion

In [189]:
# recursion
# n!=1*2 * .... * n

def factorial (x:int, level:int):
  if x == 1:
    print("  " * level+" base case x="+str(x))
    return 1 # base case
  else:
    print("  " * level+" at level :"+str(level)+" x="+str(x))
    f=factorial(x-1, level+1)
    print("  " * level+" at level :"+str(level)+" f="+str(f))
    r=x * f
    print("  " * level+" at level : "+str(level)+" before return :"+str(r))
    return r # iteration

r=factorial(5, 0)
print(f"what is r: {r}")

 at level :0 x=5
   at level :1 x=4
     at level :2 x=3
       at level :3 x=2
         base case x=1
       at level :3 f=1
       at level : 3 before return :2
     at level :2 f=2
     at level : 2 before return :6
   at level :1 f=6
   at level : 1 before return :24
 at level :0 f=24
 at level : 0 before return :120
what is r: 120

# Lambda function
* anonymous function (i.e. no function name)
* one expression
* automatically return result no need keyword `return`

In [190]:
# lambda function
"""
function_name=lambda parameter_1, parameter_2: expression

(lambda parameter_1, parameter_2: expression)(argument_1, argument_2)
"""

f=lambda x:x+1
print(f(1))
print(f(2))

2
3

In [191]:
"""
# map() applies the function to all the elements of the sequence seq. It returns a new list with the elements changed by func
map(func, seq)
"""

def cal_fahrenheit(T):
  return ((float(9)/5)*T+32)
def cal_celsius(T):
  return (float(5)/9)*(T-32)

original_list=[36.5,38.5,37.5,36,38,35]
fahrenheit_obj=map(cal_fahrenheit, original_list) #return object
celsius_obj=map(cal_celsius, fahrenheit_obj) #object mapped twice will become empty

print(original_list)

print(fahrenheit_obj)
print(list(fahrenheit_obj))

print(celsius_obj)
print(list(celsius_obj))

[36.5, 38.5, 37.5, 36, 38, 35]
<map object at 0x7f4a2e1b3990>
[97.7, 101.3, 99.5, 96.8, 100.4, 95.0]
<map object at 0x7f4a2e1b3850>
[]

In [192]:
original_list = [39.2, 36.5, 37.3, 37.8]

fahrenheit_obj = map((lambda x: (float(9)/5)*x+32), original_list)

print(original_list)
print(list(fahrenheit_obj))

[39.2, 36.5, 37.3, 37.8]
[102.56, 97.7, 99.14, 100.03999999999999]

In [193]:
# aggregate functions: sum, max, and min
# in fact, we"ll learn more powerful aggregate functions when we talk about Numpy, a data science package in python. So, we"ll just briefly talk about sum, max and min that are python"s built-in.

t=[1,2,3,4,5]
print(sum(t)) # 15. sum takes an iterable as input. So, do not give several numbers as input! We need to put these numbers in a list!
# print(sum(1,2,3)) # error! We need to put the numbers in a list. Here, we are giving three inputs, rather than a single input of list type!
print(max(t)) # 5
print(min(t)) # 1

15
5
1

# OOP in python
unlike C++, python doesn"t have access specifier (i.e., no `private`, `public` keywords), but u can follow the naming rule below to have better identification:
* vari --> public
* _vari --> protected
* __vari --> private
* func --> public
* _func --> private
* \_\_func__ --> only can be use, never create

In [194]:
"""
class class_name:
  new_const=100
  def __init__(self, parameter_1):
    self.instance_variable=parameter_1

  # instance method
  def instance_method_name(self):
    statment_1
"""

class Dog:
  new_const=100
  def __init__(self, name, age):
    # name and age are instance attributes
    self.name=name
    self.age=age

  # instance method
  def description(self):
    return f"{self.name} is {self.age} years old"

  # instance method
  def eat(self, food):
    return f"{self.name} eats {food}"

d1=Dog("bob", 4) 
print(d1.new_const)
print(d1.description())
print(d1.eat("meat"))

100
bob is 4 years old
bob eats meat

In [195]:
# operator overloading
class Student:
  def __init__(self, name, age, mark):
    self.name=name
    self.age=age
    self.dsa_score=mark

  def __eq__(self, other): #==
    print(f"Inside __eq__: {other}")
    if isinstance(other, Student):
      return self.dsa_score == other.dsa_score
    raise Exception(f"{type(other)} not match !")

  def __lt__(self, other): #<
    if isinstance(other, Student):
      print("this is same instance .... ")
      return self.dsa_score<other.dsa_score
    raise Exception(f"{type(other)} not match !")

  def __le__(self, other): #<=
    return self.dsa_score <= other.dsa_score

  def __gt__(self, other): #>
    pass

  def __ge__(self, other): #>=
    pass

  def __ne__(self, other): #!=
    pass
    
s1=Student("Francis", 20, 40)
s2=Student("Sylvia", 30, 50)
print(f"s1==s2 ?: {s1 == s2}")

Inside __eq__: <__main__.Student object at 0x7f4a2e148890>
s1==s2 ?: False

In [196]:
# some question on extracting data in Python
class A:
  def __init__(self, d, n):
    self.next=n
    self.data=d

B=[]
B.append(A("Hello", A("Francis", None)))
B.append(A("Loewe", None))

print(f"what is B[0]: {B[0]}")
print(f"What is type of B[0]: {type(B[0])}")
print(f"read 0th data of list B: {B[0].data}")
print(f"read next data at 0th data of list B: {B[0].next.data}")
print(f"read B[1]: {B[1]} type is: {type(B[1])}")
print(f"read another data: {B[1].data}")

what is B[0]: <__main__.A object at 0x7f4a2e1483d0>
What is type of B[0]: <class '__main__.A'>
read 0th data of list B: Hello
read next data at 0th data of list B: Francis
read B[1]: <__main__.A object at 0x7f4a2e1481d0> type is: <class '__main__.A'>
read another data: Loewe

# Import Module

In [197]:
import math # import hole math libaray
print(math.sqrt(4))

from math import sqrt # import sqrt() only
print(sqrt(4))

from math import sqrt as square_root # import sqrt() and rename
print(square_root(4))

2.0
2.0
2.0

In [198]:
!curl --remote-name -H 'Accept: application/vnd.github.v3.raw' --location https://raw.githubusercontent.com/tc11echo/data-structure-and-algorithm-in-python/main/basic_concept/sample_module.py

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   199  100   199    0     0   5852      0 --:--:-- --:--:-- --:--:--  5852

In [207]:
import sample_module # use "." instead of "/" for accessing folder
sample_module.func1()

func1 executed

In [200]:
# random module
import random
# random choice
data=random.choice([1,5,6,10,20])
print(data)
data=random.sample([1,5,6,10,20],3)
print(data)
# random swap(洗牌)
data=[10,20,30,40]
random.shuffle(data)
print(data)

# random number
data=random.random() # random number between 0-1 
print(data)
data=random.uniform(30,60) # random number between 30-60
print(data)

# random number with stdev
data=random.normalvariate(100,10)
# mean=100，stdev=10 得到資料大多數在90-100間
print(data)

#statistics module 
import statistics as stat
data=stat.mean([1,3,5,7])#mean
print(data)
data=stat.median([1,30,5,7,9])#median
print(data)
data=stat.stdev([1,30,5,7,9])#stdev
print(data)

20
[20, 6, 10]
[10, 40, 20, 30]
0.14702019486653395
48.11350718408539
116.08699378910524
4
7
11.349008767288888

# File IO
* r -read mode
* w -write mode
    * will cover old stuff
    * open a new file if not exist
* r+ read & write mode
* a -append mode
    * wouldn't cover old stuff

### Path
* Absolute path
* Relative path

### Path under different OS
* URL: use `/`
* Mac/Linux: `/folder/sample.txt`
* Windows: `D:\folder\sample.txt`
* Back to parent folder`../folder/sample.txt`

In [201]:
# just for jupyter notebook that store in github. if store in local, it can be direct access

# Clone the entire repo.
"""
!git clone -l -s git://github.com/jakevdp/PythonDataScienceHandbook.git cloned-repo
%cd cloned-repo
!ls
"""

# Fetch a single <1MB file using the raw GitHub URL.
!curl --remote-name -H 'Accept: application/vnd.github.v3.raw' --location https://raw.githubusercontent.com/tc11echo/data-structure-and-algorithm-in-python/main/basic_concept/sample1.txt
!curl --remote-name -H 'Accept: application/vnd.github.v3.raw' --location https://raw.githubusercontent.com/tc11echo/data-structure-and-algorithm-in-python/main/basic_concept/sample2.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    12  100    12    0     0     64      0 --:--:-- --:--:-- --:--:--    64
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    41  100    41    0     0    179      0 --:--:-- --:--:-- --:--:--   179

In [202]:
# read (better way, automatically close file)
with open(r"sample1.txt", "r") as fp:
  for line in fp:
    print(line, end="")

# read
"""
fp=open(r"sample1.txt")
print(fp.read())
fp.close()
"""

# write
"""
with open(r"sample1.txt", mode="w", encoding="utf-8") as fp:
  fp.write("Line1\n")
  fp.write("Line2\n")
"""

Hello
World

'\nwith open(r"sample1.txt", mode="w", encoding="utf-8") as fp:\n  fp.write("Line1\n")\n  fp.write("Line2\n")\n'

In [203]:
import json

# json read
with open(r"sample2.json", mode="r") as fp:
  data=json.load(fp)
print("Name: "+data["name"])
print("Version: "+data["version"])

# json write
"""
data["name"]="New name"
with open("sample2.json", mode="w") as fp:
  json.dump(data, fp)
"""

Name: My Name
Version: 1.2.30

'\ndata["name"]="New name"\nwith open("sample2.json", mode="w") as fp:\n  json.dump(data, fp)\n'

# Error Handling

In [204]:
"""
try:
  statment_1
except exception_name:
  statment_2
"""

try:
  print(3/0)
except NameError:
  print ("Name Error Detected")
except KeyError:
  print ("Key Error Detected")
except ValueError:
  print("Value Error Detected")
except IndexError:
  print("Index Error Detected")
except ZeroDivisionError:
  print("Zero Division Error Detected")
except AttributeError:
  print("object has no attribute")
except TypeError:
  print("object does not support item assignment")
except Exception:
  print("Other Error")

Zero Division Error Detected